In [14]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
df = pd.read_csv("green_tripdata_2019-09.csv", nrows=100)

In [6]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [7]:
pd.io.sql.get_schema(df, name='green_tripdata_2019-09')

'CREATE TABLE "green_tripdata_2019-09" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S.%f')
df.lpep_dropoff_datetime = pd.to_datetime(df['lpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S.%f')

In [12]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-09'))

CREATE TABLE "green_tripdata_2019-09" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [15]:
engine = create_engine('postgresql://myuser:mypassword@localhost:5432/mydatabase')

In [16]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-09', con=engine))

CREATE TABLE "green_tripdata_2019-09" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [32]:
df_raw_iter = pd.read_csv("green_tripdata_2019-09.csv", iterator=True, chunksize=100000, low_memory=False)

In [31]:
while True:
    try:
        df = next(df_raw_iter)
    except StopIteration:
        break

    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S.%f')
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S.%f')

    df.to_sql('green_tripdata_data', engine, if_exists='append', index=False)